name: dex_image_single_demo

image_shape: [3, 224, 224]
mask_image_shape: [4, 224, 224]
dataset_path: /home/psibot/chembench/psilab/outputs/zarr_data/20251217_161148.zarr
shape_meta: &shape_meta
  # 修改FYD
  # acceptable types: rgb, low_dim
  obs:
    # 胸部相机
    chest_camera_rgb:
      shape: ${task.image_shape}
      type: rgb
      horizon: ${n_obs_steps}
    # 头部相机
    head_camera_rgb:
      shape: ${task.image_shape}
      type: rgb
      horizon: ${n_obs_steps}
    arm2_pos:
      shape: [7]
      type: low_dim 
      horizon: ${n_obs_steps} 
    arm2_vel:
      shape: [7]
      type: low_dim 
      horizon: ${n_obs_steps} 
    hand2_pos:
      shape: [6]
      type: low_dim
      horizon: ${n_obs_steps}
    hand2_vel:
      shape: [6]
      type: low_dim
      horizon: ${n_obs_steps}
    arm2_eef_pos:
      shape: [3]
      type: low_dim
      horizon: ${n_obs_steps}
    arm2_eef_quat:
      shape: [4]
      type: low_dim
      horizon: ${n_obs_steps}
    # 目标物体位姿
    target_pose:
      shape: [7]
      type: low_dim
      horizon: ${n_obs_steps}
  action: 
    shape: [13]
    # horizon: ${n_action_steps}
    horizon: ${n_action_steps}

env_runner:
  _target_: diffusion_policy.env_runner.real_pusht_image_runner.RealPushTImageRunner

dataset:
  _target_: psi_dp.dataset.single_demo_image_dataset.SingleDemoImageDataset
  zarr_path: ${task.dataset_path}
  horizon: ${n_action_steps}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  seed: 42
  val_ratio: 0
  