name: grasp_lego

obs_dim: 20
action_dim: 13
keypoint_dim: 13
obs_eef_target: False

env_runner:
  # _target_: diffusion_policy.env_runner.pusht_keypoints_runner.PushTKeypointsRunner
  # _target_: diffusion_policy.env_runner.base_lowdim_runner.BaseLowdimRunner
  _target_: diffusion_policy.env_runner.grasp_lego_lowdim_runner.GraspLegoLowDimRunner
  # n_train: 6
  # n_train_vis: 2
  # train_start_seed: 0
  # n_test: 50
  # n_test_vis: 4
  # test_start_seed: 100000
  # max_steps: 350
  # n_obs_steps: ${n_obs_steps}
  # n_action_steps: ${n_action_steps}
  # fps: 5
  # past_action: ${past_action_visible}
  # abs_action: False
  # obs_eef_target: ${task.obs_eef_target}
  # n_envs: null


# env_runner:
#   _target_: diffusion_policy.env_runner.pusht_keypoints_runner.PushTKeypointsRunner
#   keypoint_visible_rate: ${keypoint_visible_rate}
#   n_train: 6
#   n_train_vis: 2
#   train_start_seed: 0
#   n_test: 50
#   n_test_vis: 4
#   legacy_test: True
#   test_start_seed: 100000
#   max_steps: 300
#   n_obs_steps: ${n_obs_steps}
#   n_action_steps: ${n_action_steps}
#   n_latency_steps: ${n_latency_steps}
#   fps: 10
#   agent_keypoints: True
#   past_action: ${past_action_visible}
#   n_envs: null


dataset:
  _target_: diffusion_policy.dataset.grasp_lego_dataset.GraspLegoDataset
  zarr_path: data/Grasp-Lego-Psi-DC-02-Statebase.zarr
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1'}
  pad_after: ${eval:'${n_action_steps}-1'}
  obs_eef_target: ${task.obs_eef_target}
  use_manual_normalizer: False
  seed: 42
  val_ratio: 0.02
